{{#if online}}
<h3>Active Apps</h3>
<p>These are the applications currently loaded into Steelmesh.</p>
{{else}}
<h3>Last Loaded Apps</h3>
<p>These are the applications loaded into steelmesh when last run.</p>
{{/if}}
<table class="condensed-table bordered-table zebra-striped">
	<tr>
		<th>Application ID</th>
		<th>Mountpoint</th>
		<th>Required Addins</th>
	</tr>
	{{#each apps}}
		<tr>
			<td>{{ id }}</td>
			<td><a href="#">/{{ mountpoint }}</a></td>
			<td>{{ addins }}</td>
		</tr>
	{{/each}}
</table>

{{#if addins}}
<h3>Installed Addins</h3>
<table class="condensed-table bordered-table zebra-striped">
	<tr>
		<th>Addin</th>
		<th>Version</th>
	</tr>
	{{#each addins}}
		<tr>
			<td><a href="http://search.npmjs.org/#/{{name}}" target="_blank">{{ name }}</a></td>
			<td>{{ version }}</td>
		</tr>
	{{/each}}
</table>
{{/if}}