<ul class="breadcrumb">
  <li><a href="/">Dashboard</a> <span class="divider">/</span></li>
  <li class="active">Replication</li>
</ul>

<ul class="repljob-list">
{{#each docs}}
	<li>
		<h5>{{ _id }}</h5>
		<table class="repljob condensed-table">
		<tr>
			<th>From:</th>
			<td><a href="{{ source }}" target="_blank">{{ source }}</a></td>
		</tr>
		<tr>
			<th>To:</th>
			<td>{{ target }}{{#if continuous}}&nbsp;<span class="label notice">continuous</span>{{/if}}</td>
		</tr>
		<tr>
			<th>Status:</th>
			<td>{{ _replication_state }}</td>
		</tr>
		<tr>
			<th>Actions:</th>
			<td>
				<a href="/replication/delete/{{ _id }}?rev={{ _rev }}" class="btn small danger">Delete</a>
			</td>
		</tr>
		</table>
	</li>
{{/each}}
</ul>

<div class="well">
	<a href="/replication/clear_completed" class="btn primary">Clear Completed</a>
	<a href="/replication/add" class="btn">Add Replication Job</a>
</div>


<script>
$(function() {
	$('.replid').popover();
});
</script>